

body{
    display: flex;
    justify-content: center;
    align-items: centre;
    min-height: 100vh;
    background: linear-gradients(45def, #665fee 0%,#27c2de 100%);
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: Right;
    z-index: 99;
}

h1{
   font-size: 2em;
   color: black;
   user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;


}
.navigation a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation.btnSign-up{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;


}
.navigation.navigation.btnSign-up:hover{
background: #fff;
color: #162938;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
label{
    text-align: center;
}




h1{
    text-align: center;
}
.wrapper{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
}
h4{
    text-align: right;
    color: white;
    padding-left: 150px;
}
#signupPopup {
    text-align: center;
    padding: 20px;
}

.signup-form {
    max-width: 280px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.signup-form h2 {
    margin-bottom: 30px;
    color: black;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.input-group .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666666;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0f52ba;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003366;
}



